n8n/admin_weekly_summary.json
{
  "name": "MedDoc - Resumo Admin",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "id": "e8316c02-4f7f-4b07-a6fc-f5af7e48b4e7",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/dashboard_stats",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "5fa23fb3-f66f-44e2-9b24-7dfec3b1f5e8",
      "name": "Fetch Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "prompt": "Você é um assistente de gestão. Crie um resumo executivo com base nos seguintes dados:\n{{$json.data[0]}}\n\nDestaque o que precisa de atenção e o que está bem.",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4444-8888-123456789012",
      "name": "Gemini API",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/ai_admin_summaries",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "summary_text",
              "value": "={{$json.text}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-1234-5678-abcd-9876543210fe",
      "name": "Save Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "admin@meddoc.com.br",
        "toEmail": "admin@meddoc.com.br",
        "subject": "Resumo Semanal MedDoc",
        "text": "={{$json.text}}",
        "options": {}
      },
      "id": "email-node-id",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stats": {
      "main": [
        [
          {
            "node": "Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API": {
      "main": [
        [
          {
            "node": "Save Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Summary": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7d73b06-5b92-411a-ab6a-3db9dfd1b09b",
  "id": "wkf_admin_summary",
  "tags": []
}
