n8n/auditor-triage.json
{
  "name": "MedDoc - Auditor Triage ",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auditoria-gemini",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        304,
        0
      ],
      "id": "e7e6834f-5643-40f4-b88f-a34f4134fee1",
      "name": "Webhook",
      "webhookId": "5303e54f-394b-4006-b1bc-ec61a3712075"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é uma IA especialista em triagem de auditoria médica hospitalar.\nSua única tarefa é analisar o motivo da solicitação enviado e classificar o nível de urgência.\n\nRegras de classificação:\n- Alta: Casos de UTI, risco de morte, liminares judiciais, oncologia ou cirurgias urgentes de hoje/amanhã.\n- Média: Cirurgias eletivas agendadas, prorrogação de internação padrão, exames complexos.\n- Baixa: Revisão de contas antigas, cópia de prontuário de rotina, retornos de consulta.\n\nA saída DEVE ser estritamente em formato JSON válido, sem textos antes ou depois, seguindo este padrão:\n{\n  \"urgencia\": \"Alta\",\n  \"justificativa\": \"Breve resumo do motivo pelo qual se enquadra nessa categoria\"\n}\n{{ $json.body.request_reason }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        -144
      ],
      "id": "d6fdddc0-3e15-47cc-b290-3d59cc9617f9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        752,
        272
      ],
      "id": "f6cb5834-977f-4395-b131-5c31f8a46ff7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "KOOEmGhQBYQk0ZyK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "patient_requests",
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Webhook').item.json.body.record.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "request_reason",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        0
      ],
      "id": "a09e2783-c7e4-41fc-b713-ea2d762b1e4e",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "K4mSy5yw5RLcJKdJ",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c678970c-dad6-4089-8b85-75c83513e474",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc6ae50e006d3759908a07d1ca17d8f44c857d1950fb63ca2658a85bf2bcaa54"
  },
  "nodeGroups": [],
  "id": "alEl7xDpI6owJP4q",
  "tags": []
}
